@tailwind base;
@tailwind components;
@tailwind utilities;

.green-glow {
    color: #32cd32;
}

.pulsating-circle {
    width: 100px;
    height: 100px;
}

.pulse {
    animation: pulse-animation 2s infinite;
}

@keyframes pulse-animation {
    0%,
    100% {
        r: 40;
        opacity: 1;
    }
    50% {
        r: 45;
        opacity: 0.5;
    }
}
